/*! ---------------------- RESET --------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! ---------------------- HEADER --------------------------*/
header {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header img {
  width: 20%;
  height: 20%;
  border-radius: 20px;
}

header h1 {
  color: rgb(255, 217, 0);
  font-size: 70px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

header div nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

nav ul li {
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav ul li a:hover {
  background-color: #ff0000;
  border-radius: 10px;
  color: #000000;
}

.navbar-custom {
  font-size: 30px;
  background-color: #ffd000;
}
.navbar-custom h5 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.offcanvas-end {
  background-color: #000000;
}
.navbar-custom .nav-link, .offcanvas-end .nav-link, .offcanvas-end .nav-item{
  color: #ffd000;
}
.navbar-custom .nav-link:hover, .offcanvas-end .nav-link:hover {
  color:  #000000; 
}
.offcanvas-header {
  background-color: #ffd000; 
  color: #ffd000; 
}
.navbar-custom .custom-toggler {
  border-color: #000000; 
}
.navbar-toggler-icon {
  filter: invert(1);
}
header div{
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*! ---------------------- MAIN --------------------------*/
main {
  background-image: url(../img/logo-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main p {
  color: white;
  font-size: 28px;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main h2 {
  color: white;
  font-size: 50px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

main h3 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}




/*? ---------------------- HERO --------------------------*/
.hero {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero iframe {
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero h2 {
  width: 30%;
  color: white;
  font-size: 45px;
  margin-top: 40px;
  margin-right: 20px;
  text-align: right;
  align-self: flex-start;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hero h3 {
  width: 30%;
  color: white;
  text-align: left;
  font-size: 45px;
  margin-bottom: 10px;
  margin-left: 20px;
  align-self: flex-end;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*? --------------------- DEPORTE -------------------------*/

.nuevos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

.nuevos div {
  width: 40%;
  height: auto;
}

.nuevos div img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10%;
  padding: 10px;
}

.nuevo .nuevosimg1 .nuevosimg2 {
  width: 25%;
}

.nuevos h2 {
  color: white;
  font-size: 60px;
  text-align: center;
}

.nuevos p {
  text-align: justify;
  margin: 10px;
  font-size: 25px;
}

.highlight {
  color: red;
  font-weight: bold;
  background-color: black;
  padding: 5px;
}




/*? --------------------- CAMPOS -------------------------*/

.campos {
  display: flex;
  justify-content: space-around;
  align-content: start;
}

.campos div {
  width: 18%;
  height: auto;
  border: 1px solid black;
  background-color: rgb(6, 41, 6);
  margin: 10px;
  border-radius: 15px;
}

.campos h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.campos div h3 {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: rgba(255, 217, 0);
}

.campos div p {
  text-decoration: none;
  text-align: justify;
  padding: 15px;
  color: white;
  margin-bottom: 20px;
}

/* --------------------------HACER QUE LA PROPIA FOTITO SEA BOTONCITO --------------------*/

.campos div img {
  width: 100%;
  height: 240px;
  align-items: center;
  border-radius: 15px;
}

.campos div {
  align-items: center;
}

/*? ---------------------- SHOW --------------------------*/

.show p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 40px;
  padding: 30px;
}

.show div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.show h2 {
  padding: 35px;
}

/*? ---------------------- MARKERS --------------------------*/

.markers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.markers img {
  width: 30%;
  height: auto;
}

.markers div h2 {
  color: white;
  text-align: center;
  text-size-adjust: 35px;
}

.markers div p {
  text-align: justify;
  padding: 30px;
}







/*! ---------------------- FOOTER --------------------------*/

.footer {
  background-color: rgba(180, 155, 10, 0.733);
  margin: 0px;
  padding: 15px;
  height: auto;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.2fr;
  column-gap: 10px;
  grid-template-areas:
    "logo parra red1"
    "logo parra red2"
  ;
}

.logo-footer {
  grid-area: logo;
  height: 60%;
  align-self: center;
}

.footer p {
  grid-area: parra;
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 20px;
  grid-row: 1/3;
  font-size: 25px;
}

.red1 {
  grid-area: red1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.red2 {
  grid-area: red2;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.social-logo {
  width: 100%;
  max-width: 100px;
  min-width: 50px;
  margin-right: 20px;
}

.footer h2 {
  width: 70%;
  font-size: 25px;
  text-align: left;
}


/*! ------------------ PAGINA EQUIPO ---------------------*/
/*! ---------------------- MAIN --------------------------*/

.grid-cont {
  margin: 0px auto;
  display: grid;
  /*grid-template-columns:2fr, repeat(3, 1fr) ;
  grid-template-rows: repeat(5, 500px) ;*/
  grid-template-columns: 500px 1fr 1fr 1fr;
  grid-template-rows: 1100px 600px 1000px 750px 800px;
  row-gap: 10px;
  column-gap: 15px;
  /* ----------- GRID AREAS -----------*/
  grid-template-areas:
    "galeria intro intro intro"
    "galeria valor valor valor"
    "galeria elegi elegi elegi"
    "galeria video video video"
    "galeria anota anota anota"
  ;
}


/*? -------------------- GALERIA -------------------------*/
.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border: 2px solid #ccc;
  padding: 15px;
  grid-area: galeria;
}

.galeria img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*? ---------------------- INTRO --------------------------*/
.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.intro div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
}

.intro p {
  padding: 20px;
  text-align: center;
}

.intro div img {
  width: auto;
  height: 400px;
  margin: 10px;
}

/*? ---------------------- VALORES --------------------------*/
.valores {
  grid-area: valor;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valores p {
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.valores div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*? ---------------------- ELEGINOS --------------------------*/
.eleginos {
  grid-area: elegi;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eleginos div img {
  width: auto;
  height: 375px;
  margin: 10px;
}

.eleginos p {
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.eleginos div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*? ---------------------- VIDEOS --------------------------*/
.videos {
  grid-area: video;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos p {
  text-align: center;
  margin: 10px;
}

.videos iframe {
  margin: 20px;
}

/*? ---------------------- ANOTATE --------------------------*/
.anotate {
  grid-area: anota;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anotate p {
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.anotate div p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.anotate a {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: end;

}

.anotate a {
  text-decoration: none;
  color: white;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  padding: 5px;
  font-size: 40px;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.anotate a:hover {
  background-color: #ffee00d2;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

/*! ----------------- PAGINA JUEGOS ---------------------*/
/*! ---------------------- MAIN --------------------------*/

/*? ------------------- CALENDARIO -----------------------*/



/*? ------------------- JUEGOS -----------------------*/

/*
.carousel-inner{
  flex-direction: row;
}
*/

.juegos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid #063f06;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  grid-template-areas:
    "prev bod bod end"
  ;
}

.preview {
  width: 400px;
  grid-template-areas: prev;

}

.preview h3 {
  font-size: 30px;
}

.preview img {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  grid-template-areas: bod;

}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  flex-direction: row;
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 300px;
  height: 220px;
}

.carousel-item.active {
  transform: scale(1.2);
}

.carousel-item:not(.active) {
  opacity: 0.5;
  transform: scale(0.8);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-indicators {
  display: none;
}

.buton {
  direction: row;
  justify-content: space-around;
}

.side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-areas: end;

}

.side-content iframe,
.side-content textarea {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.side-content a {
  display: block;
  margin-bottom: 10px;
}

.carousel-fade .carousel-caption
/*! ----------------- PAGINA MERCADO ---------------------*/
/*! ---------------------- MAIN --------------------------*/

/*? ------------------- SHOWROOM -----------------------*/

/*? ------------------- REVIEWS -----------------------*/

/*? ------------------- TARJETAS -----------------------*/
.tarjetas {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;

}

.tarjetas img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 75%;
}

.tarjetas div {
  width: 30%;
  height: 550px;
  border: 4px solid black;
  background-color: rgba(255, 255, 255, 0.521);
  margin: 20px;
  border-radius: 15px;
}

.tarjetas div h3 {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.tarjetas div ol {
  text-decoration: none;
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px;
  color: rgb(0, 0, 0);
}




/*! ---------------- PAGINA ASPIRANCIA -------------------*/
/*! ---------------------- MAIN --------------------------*/
/*? ------------------- FORMULARIO -----------------------*/
.aspirancia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 5px;
}

.aspirancia h2 {
  margin: 10px;
  text-align: center;
  font-size: 80px;
}

.aspirancia .okey {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-left: 30px;
  margin-right: 20px;
  align-self: center;
}

.formulario {
  margin-left: 20px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.formulario .miimput {
  width: 500px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 22px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Special Elite", system-ui;
  align-items: flex-end;
}

.formulario .genero {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100px;
  box-shadow: none;
  border: none;
}

.formulario img {
  width: 300px;
  height: 180px;
  align-self: center;
}

.formulario .formbot {
  width: 200px;
}
.aspirancia .formulario div label{
  margin-right: 20px;
}

.aspirancia .formulario .textarearesp {
  width: 100%;         
  height: 200px;      
  padding: 10px;     
  font-size: 16px;     
  box-sizing: border-box;
  resize: none;
  margin-right: 20px;
}





/*! ------------------ RESPONSIVE ---------------------*/
/*! ------------------- PAGINA I ----------------------*/
@media (max-width: 1550px) {
  .nuevos h2 {
    font-size: 55px;
  }

  .nuevos div p {
    font-size: 22px;
  }
}

@media (max-width: 1510px) {

  .hero iframe,
  .show iframe {
    width: 700px;
    height: 395px;
  }

  .hero h2 {
    width: 25%;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    margin-right: 20px;
    align-items: start;
  }

  .hero h3 {
    width: 25%;
    color: white;
    font-size: 35px;
    align-items: center;
    margin-right: 20px;
  }

  .nuevos {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .nuevos h2 {
    font-size: 50px;
  }

  .nuevos p {
    font-size: 22px;
  }

  .nuevos .nuevosimg1 .nuevosimg2 {
    width: 30%;
    height: auto;
  }

  .campos p {
    font-size: 23px;
  }

  .markerwall {
    display: none;
  }

  .markers img {
    width: 40%;
    height: auto;
  }
  .aspirancia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .formulario {
    align-self: center;
  }
  .formulario img{
    margin-top: 30px;
    width: 70%;
    height: auto;
  }
  .aspirancia .formulario .miimput {
    align-items: end;
    width: 700px;

  }
  .aspirancia .okey{
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  }
  .aspirancia .formulario .genero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




@media (max-width: 1350px) {
  .nuevosimg1 {
    display: none;
  }

  .nuevos p {
    width: 100%;
    text-align: justify;
    margin: 10px;
    font-size: 25px;
  }

  .nuevos img {
    width: 70%;
    height: auto;
  }

  .hero h2 {
    width: 30%;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px;
    align-items: start;
  }

  .hero h3 {
    width: 25%;
    color: white;
    font-size: 30px;
    align-items: center;
    margin-right: 20px;
  }

  .campos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "titulo titulo titulo titulo"
      "campo campo campo campo"
    ;
  }

  .campos div {
    width: 95%;
  }

  .camposshow {
    grid-area: campo;
  }

  .campostext {
    grid-area: titulo;
    display: flex;
    justify-content: center;
  }

  .campostext h2 {
    width: 30%;
  }

  .markers p {
    font-size: 23px;
  }

  .markers h2 {
    font-size: 45px;
  }

  .footer p {
    font-size: 22px;
  }

  .footer div p {
    font-size: 20px;
  }
}



@media (max-width: 1200px) {

  .campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titulo titulo"
      "campo campo"
      "campo campo"
    ;
  }

  .camposshow {
    grid-area: campo;
  }

  .camposshow img {
    height: auto;
  }

  .campostext {
    grid-area: titulo;
    justify-content: center;
  }

  .show div {
    display: flex;
    flex-direction: column;
  }

  .footer {
    grid-template-areas:
      "logo parra parra"
      "logo red1 red2"
  }

  .footer p {
    width: 100%;
    align-self: center;
    text-align: center;
    grid-row: 1/2;

  }
}


@media (max-width: 1105px) {

  .navtext a {
    font-size: 25px;
  }

  .hero {
    flex-direction: column;
  }

  .hero h2 {
    width: 65%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    align-self: center;
  }

  .hero h3 {
    width: 65%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    align-self: center;
  }

  .hero iframe {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nuevos {
    display: flex;
    flex-direction: column;
  }

  .nuevos div {
    width: 100%;
  }

  .nuevosimg2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }


  .nuevosimg2 .imgduo {
    width: 45%;
    height: auto;
  }

  .show {
    font-size: 40px;
  }

  .markers {
    flex-direction: column;
  }

  .markers img {
    width: 60%;
    height: auto;
  }

  .markers p {
    padding: 30px;
  }
}

@media (max-width: 980px) {
  header h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  .show {
    font-size: 35px;
  }
  .aspirancia{
    font-size: 25px;
  }
  .aspirancia .formulario .miimput {
    align-items: end;
    width: 400px;

  }
  .aspirancia .okey{
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  }
}

@media (max-width: 950px) {
  .navtext a {
    font-size: 20px;
  }

@media (max-width: 900px) {
  .footer p {
    font-size: 20px;
  }

  .footer h2 {
    font-size: 18px;
  }
}

@media (max-width: 840px) {

  header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "titulo escudo"
      "nav escudo"
  }

  header h1{
    grid-area: titulo;
    width: 100%;
   
  }

  header .logoh {
   display: none
  }

  img.escudo{
    grid-area: escudo;
    width: auto;
    height: 200px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  header div{
    grid-area: nav;
    background-color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer {
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas:
      "parra parra"
      "logo red1"
      "logo red2"
  }

  .footer p {
    font-size: 20px;
    grid-row: 1/2;
    margin-bottom: 0px;
  }

  .footer h2 {
    font-size: 20px;
  }

  .logo-footer {
    grid-row: 2/4;
  }

  .red1,
  red2 {
    justify-content: center;
  }
}


@media (max-width: 768px) {
  header h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  img.escudo{
    grid-area: escudo;
    width: auto;
    height: 150px;
  }
  .hero div {
    width: 100%;
    height: auto;
  }

  .hero iframe {
    width: 100%;
  }

  .hero h2 {
    width: 80%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    align-self: center;
  }

  .hero h3 {
    width: 80%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    align-self: center;
  }

  .nuevosimg2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .nuevosimg2 .imgduo {
    width: 80%;
    height: auto;
    margin: 0px;
  }

  .campos {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
  }

  .campostext {
    display: flex;
    flex-direction: column;
  }

  .campostext h2 {
    width: 100%;
  }

  .show div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .show iframe {
    width: 100%;
  }

  .show p {
    font-size: 30px;
    text-align: justify;
  }
}

@media (max-width: 640px) {
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img.escudo{
    height: 130px;
    margin-top: 20px;
    align-self: last baseline;
  }

  .campos {
    margin-left: 10px;
    margin-right: 10px;
  }

  header h1 {
    margin-bottom: 0px;
  }
  header {
    grid-template-columns: 2fr 1fr;
  }
  .navtext{
    display: none;
  }
  header a {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 590px) {
  header h1 {
    font-size: 40px;
  }
  img.escudo{
    height: 130px;
    align-self: last baseline;
    padding: 10px;
  }
  .footer {
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "parra parra parra"
      "logo red1 red2"
  }

  .logo-footer {
    grid-row: 2/3;
    margin: 0px;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
  }

  .footer p {
    font-size: 18px;
    margin: 0px;
    padding: 5px;
  }

  .red1,
  .red2 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .social-logo {
    width: 100%;
    max-width: 70px;
    min-width: 30px;
    margin-right: 20px;
  }

  .footer h2 {
    font-size: 18px;
  }

  .aspirancia{
    font-size: 20px;
  }
  .aspirancia .formulario .miimput {
    align-items: end;
    width: 350px;

  }
  .aspirancia .okey{
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  }

}

@media (max-width: 500px) {
  header h1 {
    font-size: 38px;
  }
  .hero h2 {
    font-size: 30px;
  }

  .hero h3 {
    font-size: 30px;
  }

  .nuevos div h2 {
    font-size: 45px;
  }

  .nuevos div p {
    font-size: 20px;
  }

  .campostext p {
    font-size: 20px;
  }

  .camposhow p {
    font-size: 20px;
  }

  .show p {
    font-size: 25px;
  }

  .markers div h2 {
    font-size: 45px;
  }

  .markers div p {
    font-size: 20px;
  }

  .show p {
    font-size: 20px;
  }

  .social-logo {
    width: 100%;
    max-width: 70px;
    min-width: 10px;
    margin-right: 15px;
  }

  .footer h2 {
    font-size: 16px;
  }

  .footer p {
    font-size: 15px;
    margin: 0px;
    padding: 5px;
  }

  .aspirancia{
    font-size: 20px;
  }
  .aspirancia .formulario .miimput {
    align-items: end;
    width: 350px;

  }
  .aspirancia .okey{
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  }
  .aspirancia h2{
    font-size: 50px;
  }

  .aspirancia .miimput{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {

  .nuevos div p {
    font-size: 18px;
  }

  .nuevos div h2 {
    font-size: 40px;
  }

  .nuevosimg2 .imgduo {
    width: 100%;
    height: auto;
  }

  .campostext p {
    font-size: 18px;
  }

  .camposhow p {
    font-size: 18px;
  }

  .show p {
    font-size: 22px;
  }

  .markers div h2 {
    font-size: 40px;
  }

  .markers div p {
    font-size: 18px;
  }

  .logo-footer {
    grid-row: 2/4;
  }

  .red1,
  .red2 {
    margin-right: 5px;
  }

  .footer h2 {
    font-size: 15px;
  }

  .footer {
    height: 350px;
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas:
      "parra parra"
      "logo red1"
      "logo red2"
  }

}}

@media (max-width: 400px) {
  .aspirancia .formulario .miimput {
    align-items: end;
    width: 290px;
  }
  .aspirancia .formulario .textarearesp {
    width: 100%;         
    height: 250px;      
    padding: 10px;     
    font-size: 15px;     
    box-sizing: border-box;
    resize: none;
  }


}

}